#headerHeader {
    position: fixed;
    background: white;
    color: black;
    padding: 16px;
    width: 100vw;
    min-width: 800px;
    z-index: 999;
}
#headerNav {
    display: flex;
    flex-direction: row;
}
#headerDiv {
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}
#homeLink {
    margin-right: 40px;
}
#generateYourTaleLink {
    margin-right: 40px;
}
#homeLink2 {
    position: absolute;
    font-weight: bold;
    transform: translateX(46vw);
    font-size: 25px;
    margin-top: -8px;
    z-index: 998;
}
@media(max-width: 800px) {
    #homeLink2 {
        transform: translateX(368px);
    }
    #homeLink {
        margin-right: 35px;
    }
    #generateYourTaleLink {
        margin-right: 35px;
    }
}