#testBody {
    text-align: center;
    background-color: lightgrey;
    margin: auto;
    min-height: 946px;
    min-width: 800px;
    padding-top: 50px;
}
h1 {
    padding-top: 15px;
    font-size: 50px;
    font-weight: bold;
}
#outputtedStoryBoxLabel {
    display: block;
    transform: translateX(-170px);
    padding-top: 30px;
}
#outputtedStoryBox {
    background-color: white;
    border: solid black 2px;
    resize: none;
}
#storyInputBoxLabel {
    display: block;
    transform: translateX(-65px);
    padding-top: 30px;
}
#storyInputBox {
    display: block;
    background-color: white;
    border: solid black 2px;
    margin: auto;
    resize: none;
}
#submitSynopsisButton {
    margin-top: 20px;
    background-color: white;
    border: solid black 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
#submitSynopsisButton:hover {
    background-color: azure;
}
#submitSynopsisButton:active {
    background-color: white;
}